body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tooltip {
    width: 20px;
    height: 20px;
    color: white;
    text-align: center;
    background-color: black;
    opacity: 0.3;
    border-radius: 50%;
}

.tooltip:hover {
    opacity: 0.8;
}